body {
  font-family: Arial, sans-serif;
}

h1{
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
}

.score{
  margin: auto;
  font-size: 40px;
  text-align: center;
  color: aqua;
  background-color: rgb(34, 34, 34);
  border: 2px solid aqua;
  box-shadow: 2px 12px 20px aqua;

}

.fullscreen-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.fullscreen-prompt button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

p {
  font-size: 18px;
}


.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button.selected {
  background-color: #4caf50;
  color: white;
}
.submit-button{
  background-color: #4caf50;
  color: white;
  position: absolute;
  top: 0%;
  right: 0%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.app-container{
  margin: 5px;
  height: 90vh;
  position: relative;
}

.navigation-buttons{
  
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
}

.submit-buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}